<a href="https://colab.research.google.com/github/cacbondioxit/2024-K-NET-DEVELOP/blob/main/3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 새로운 시작!

이번 회차에 다룰 내용은 두 가지입니다.

- 변수

- 리스트

변수, 리스트가 왜 필요한 것인지는 지난 인트로에서 보셨을 것입니다. 그러면 이제 약간의 디테일을 살펴보겠습니다.

# 컴퓨터에게 정보를 기억시키는 방법

변수는 값을 저장하는 공간을 뜻합니다.

파이썬의 변수는 객체를 나타냅니다.

객체라는 것은 숫자(정수형, 실수형), 문자열, 부울 자료형, 리스트, 딕셔너리 등을 말하는 것입니다.

파이썬의 모든 것은 객체입니다. 객체라는 용어와 친해지는 것이 좋겠습니다.

참고: 그래서 파이썬은 함수도 객체이고, 함수도 메모리에 저장됩니다. 함수 객체도 변수에 저장할 수 있습니다.

In [ ]:
# 파이썬의 변수 사용 예시

greeting = "여러분, 벌써 3주차네요. 반갑습니다!"
print(greeting)

여러분, 벌써 3주차네요. 반갑습니다!

# 변수 선언에서 "="의 의미는...

한 가지 충격적인 사실을 살펴봅시다. 프로그래밍에서 "n = 1"의 의미는 "n은 1과 같다"가 아닙니다!

이는 변수 n에 1을 <u>**대입한다**</u>는 뜻입니다.

"n는 1과 같다"는 걸 나타내려면 이렇게 쓸 수 있습니다. 이는 True 혹은 False에 해당하는 값을 가집니다.

```
n == 1
```

다음 코드는 n이라는 변수에 n+1에 해당하는 값을 대입한다는 뜻입니다. (1 증가시키기)

```
n = n + 1
```

네? 이런 충격적인 식을 쓴다고요?

위와 같은 것을 너무 자주 쓰는 나머지 이렇게 줄이기도 합니다.

```
n += 1
```

참고로 파이썬은 증감 연산자인 n++ 혹은 ++n 같은 표현이 없습니다.

In [ ]:
x = 3

x = x + 1
print(x)

x += 1
print(x)

4
5

# 파이썬 변수의 장점

파이썬에서는 변수 선언 시 데이터 타입은 신경쓰지 않아도 됩니다!

그냥 뜬금없이 대놓고 선언하면 됩니다. 중간에 변수 타입이 바뀌어도 됩니다!

In [ ]:
e = 100
print(e)
print(type(e)) # type() : 변수 자료형

e = 2.718
print(e)
print(type(e))

e = "자연로그의 밑"
print(e)
print(type(e))

100
<class 'int'>
2.718
<class 'float'>
자연로그의 밑
<class 'str'>

참고: 파이썬의 변수는 C언어의 변수보다는 복잡하게<u>**(포인터처럼!!!!!!)**</u> 동작합니다.

변수는 실제로는 다른 객체의 주소 값만을 저장합니다. (주소 값을 통해 참조) 그런 이유로 파이썬은 변수 선언 시 타입 지정이 필요없습니다.

만약 이런 코드가 있다면, 중간에 '100' 객체는 필요없어져서 자동으로 삭제됩니다.

```
number = 100
number = "Hundred"

```

이렇듯 파이썬은 객체를 직접 저장하지 않고, 객체를 가리키는 방식을 사용합니다.

포인터를 피해서 파이썬 오신 분들께는 죄송합니다. ㅠㅠ 다행히 실무에서 파이썬 개발 시에 많이 신경써야 하는 부분은 아닙니다. 그래도 포인터 포기하지 마세요!!

# 자료형과 관련하여

참고: C언어에서는 변수 선언 시에 자료형을 적어줘야 합니다.

```
double e = 2.718;
```

참고: int, long, float, double 등과 같은 "자료형"(데이터 타입)은 "변수 선언할 때 쓰는 것"이 아니라 "변수의 종류"입니다!

# 자료형 체크하기

파이썬에서도 자료형이 중요할 때가 있습니다. 만약 변수의 자료형을 알아내야 한다면, type()을 쓸 수 있습니다.

실수를 정수로 바꾸거나, 문자열로 바꾸고 싶다면 int(), str() 등을 사용할 수 있습니다.

In [ ]:
print(type(10), type(3.14), type(True), type("abc"), type(print))

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'builtin_function_or_method'>

In [15]:
print(int(4.30))
print(float(4))
print(str(4.30))

4
4.0
4.3

자료형의 종류는 위키백과에서 참고 바랍니다.

https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%8D%AC#%EC%9E%90%EB%A3%8C%ED%98%95

# 파이썬의 궁극기

참고: 파이썬에서는 변수를 한꺼번에 선언하고 할당할 수 있습니다.

```
a, b = 1, 3
c = d = e = 5
f, g = [8, 9]

a, b = b, a # 파이썬에서 쓸 수 있는 궁극의 스킬...

print(a, b)
print(c, d, e)
print(f, g)

```

In [12]:
a, b = 1, 3
c = d = e = 5
f, g = [8, 9]
a, b = b, a # 파이썬에서 쓸 수 있는 궁극의 스킬...
print(a, b)
print(c, d, e)
print(f, g)

3 1
5 5 5
8 9

# 변수끼리 계산하기

사칙연산이 모두 제공됩니다.
```
a+b, a-b, a*b, a/b
```

몫과 나머지는 각각 다음처럼 구합니다.
```
a//b, a%b
```

a의 b제곱은 다음처럼 구합니다.
```
a**b
```

괄호도 쓸 수 있습니다.
```
(a+b)*(c+d)
```

참고: 정수와 실수를 더하면 실수가 됩니다.

참고: 정수끼리 나눠도 파이썬에서는 실수입니다. C언어에서는 정수끼리 나누면 무조건 정수가 나옵니다.

# 변수끼리 비교하기

```
>, < : 부등호
>=, <= : 크거나 같다, 작거나 같다
== : 같다
```

# 변수명 짓기?

변수명 짓는 센스보다는, 쓸 수 없는 변수명을 소개하겠습니다.

- 숫자로 시작하는 변수명
    - ex) 2D_girlfriend, 3D_movie_theatre, 4D_movie_theatre, ...

- 예약어 (파이썬의 문법적 의미를 갖는 키워드)
    - and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield, False, None, True
    - 이는 코드에 입력하면 색깔이 바뀝니다!

In [ ]:
3D_movie_theatre = 0

SyntaxError: invalid decimal literal (<ipython-input-3-6b195a796bb4>, line 1)

In [ ]:
try = 0 # 시도 횟수

try += 1
print(try)

SyntaxError: expected ':' (<ipython-input-2-33aa33248d34>, line 1)

In [ ]:
and, as, assert, break, class, continue, def, del, elif, else, except,
finally, for, from, global, if, import, in, is, lambda, nonlocal, not,
or, pass, raise, return, try, while, with, yield, False, None, True

# 리스트는 변수를 여러 개 묶은 것

변수 이야기는 여기까지 하고, 이제 리스트 이야기 하겠습니다.

리스트는 값을 여러 개를 묶어서 저장하는 역할을 합니다.

리스트는 수학의 집합이나 수열과 비슷한 역할을 하기도 합니다.

리스트는 변수가 많을 때 이용하면 편리합니다.

```
x_0 = 0
x_1 = 1
x_2 = 1
x_3 = 2
x_4 = 3
x_5 = 5
x_6 = 8
x_7 = 13
...
```

```
x = [0, 1, 1, 2, 3, 5, 8, 13, 21, ...]
```

리스트 각각의 값을 리스트의 원소라고 부르고, 그 값이 몇 번째 위치에 있는지를 인덱스라고 부릅니다.

(예시: 리스트 x의 3번째 인덱스에 있는 원소는 2이다.)

(예시: x의 3번째 원소는 2이다.)

(예시: x의 3번째 인덱스에는 2가 있다.)

# 파이썬 리스트의 최대 장점

파이썬 리스트 원소는 타입이 상관없습니다!

원소의 타입이 모두 정수여야 한다거나, 할 필요는 없습니다.

이런 괴물도 허용됩니다!

```
example_list = [175, 68.3, "chris", True]
```

이것이 가능한 이유는 파이썬 리스트는 사실 각 값이 아니라 각 값의 주소를 저장하기 때문입니다. (변수랑 똑같죠?)

그래서 example_list[0]와 같이 접근하면 그 주소로 접근해서 값을 참조하는 것이 됩니다.

또한 파이썬 리스트는 길이에 집착하지 않아도 됩니다! 내부적으로 동적 메모리 할당이 자동으로 이루어집니다.

# 실제적인 리스트 조작에 대하여...
파이썬 리스트와 관련하여 정말 기능이 많지만 자주 쓰는 것만 빠르게 훑고 넘어가겠습니다.

지금 다 외우려면 체해요! 천천히 친해져도 안 늦습니다 ~

In [ ]:
# 빈 리스트를 생성해서 원하는 것들을 하나씩 저장하거나 삭제할 수 있습니다.

a = []

print(a)

[]

In [ ]:
# len()은 리스트의 길이를 알려줍니다.

a = ["철수", "영희", "맹구", "훈이", "유리", "짱구"]
print(len(a)) # 인원 수

6

In [ ]:
# append로 리스트에 추가할 수 있습니다.

a = ["철수", "영희", "맹구", "훈이", "유리", "짱구"]
a.append("흰둥") # 새로운 인원 추가

print(a)
print(len(a))

['철수', '영희', '맹구', '훈이', '유리', '짱구', '흰둥']
7

In [ ]:
# extend로 리스트를 연결할 수 있습니다.

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 파이썬 리스트의 덧셈은 extend와 비슷합니다.

a = [1, 2, 3]
b = [5, 6, 7]
c = a + b
print(c)

# 곱셈은 덧셈을 반복하는 것을 뜻합니다.
c = a * 5
print(c)

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# count로 개수를 셀 수 있습니다.

a = ["찬성", "찬성", "반대", "찬성", "반대", "찬성",
     "반대", "찬성", "찬성", "반대", "반대", "찬성"]
print(a.count("찬성"))
print(a.count("반대"))

7
5

In [ ]:
# index로 인덱스를 찾을 수 있습니다. (0번째부터!) 없으면 -1을 반환합니다.

a = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
a.index(17)

6

In [ ]:
# max, min, sum을 이용해서 다 더하거나 최대값, 최소값을 찾을 수 있습니다.

a = [260, 255, 270, 280, 275, 255, 260, 255, 270, 270, 265]
print(max(a), min(a), sum(a))

280 255 2915

In [11]:
# 리스트의 인덱스 슬라이싱 -> 지금 당장 다 알 필요는 없습니다. 저도 간혹 실수합니다.

a = [4, 5, 6, 7, 8]

print(a[0]) # 0번째 인덱스 잘라오기
print(a[1:3]) # 1번째부터 3 "미만"의 인덱스까지 잘라오기
print(a[1:]) # 1번째부터 마지막 끝까지 잘라오기
print(a[-1]) # -1로 인덱싱하면 리스트의 마지막 원소에 접근할 수 있습니다.
print(a[:-1]) # 0번째부터 마지막 인덱스 미만까지 잘라오기
print(a[1:-1]) # 1번쨰부터 마지막 인덱스 미만까지 잘라오기
print(a[::2]) # 0번째부터 두칸씩 띄엄띄엄 출력
print(a[::-1]) # 거꾸로 출력

4
[5, 6]
[5, 6, 7, 8]
8
[4, 5, 6, 7]
[5, 6, 7]
[4, 6, 8]
[8, 7, 6, 5, 4]

In [ ]:
# 리스트 인덱싱으로 리스트를 수정할 수 있습니다.

a = [4, 5, 6, 7, 8]
a[0] = 3
a[2] -= 1 # a[2]의 값을 1 빼기
a[4] += 1 # a[2]의 값을 1 더하기
print(a)

[3, 5, 5, 7, 9]

In [ ]:
# 인덱싱 활용 예시

a = [4, 5, 6, 7, 8]
print(a[2] + a[4])

14

In [6]:
# 인덱스를 벗어나면 에러가 떠요!

a = [4, 5, 6, 7, 8]
print(a[100])

IndexError: list index out of range

In [1]:
# 삭제

a = [5, 6, 7, 8, 9, 10]
del a[3]
print(a)

[5, 6, 7, 9, 10]

In [4]:
# remove를 이용한 삭제

a = [5, 6, 7, 8, 9, 10]
a.remove(8)

print(a)

[5, 6, 7, 9, 10]

In [ ]:
# 리스트 정렬하기

a = ['arsenal', 'chelsea', 'man city', 'man united', 'liverpool']
a.sort()
print(a)

['arsenal', 'chelsea', 'liverpool', 'man city', 'man united']

In [ ]:
# 리스트 정렬하기 - 계속

a = ['arsenal', 'chelsea', 'man city', 'man united', 'liverpool']
print(sorted(a)) # a.sort()는 a가 참조하는 객체를 바꾸지만 sorted(a)는 적용한 이후에도 a의 원본을 바꾸지 않습니다.

['arsenal', 'chelsea', 'liverpool', 'man city', 'man united']

In [ ]:
# 참고: 리스트 정렬하기 - 승점에 따라 정렬

a = [['arsenal', 56], ['chelsea', 66], ['man city', 81], ['man united', 66], ['liverpool', 99]]
a.sort(key = lambda x: (x[1], x[0]))
print(a)

[['arsenal', 56], ['chelsea', 66], ['man united', 66], ['man city', 81], ['liverpool', 99]]

# 주의하셔야 할 부분

파이썬 인덱스 슬라이싱에서 list[a:b]라고 하면 그 결과는 `[list[a], list[a+1], ... list[b-1]]`입니다. 이 결과에 list[b]는 포함되지 않습니다.

# 급체 주의
지금 다 알려고 하면 체해요!!!!!!!!!!

# 특히 조건문에서 요긴하게 쓰이는 기능

in 연산자를 이용해 포함 관계를 살펴볼 수 있습니다.

출력 값은 True 아니면 False입니다. (boolean 형)

```
good_men_list = ["Steven Gerrard", "John Terry", "Kun Aguero", "Lionel Messi"]

print("Ronaldo" in good_men_list)

```

In [10]:
good_men_list = ["Steven Gerrard", "John Terry", "Kun Aguero", "Lionel Messi"]

print("Ronaldo" in good_men_list)

False

# 특히 반복문에서 요긴하게 쓰이는 기능

파이썬의 반복문을 쓸 때 range()를 쓰면 아주 좋습니다. 곧 다시 보게 될 것입니다.

ex) `for i in range(10): print(i)` : i = 0, 1, 2, ... , 9까지 총 10번 반복

ex) `for j in range(1, 11): print(j)` j = 1, 2, 3, ... , 10까지 총 10번 반복

ex) `for k in range(1, 11, 2): print(k)` k = 1, 3, 5, 7, 9까지 반복

ex) `for ㅣ in range(10, 0, -1): print(ㅣ)` ㅣ = 10, 9, 8, 7, 6, 5, 4, 3, 2, 1까지 반복

참고: 반복문은 같은 작업을 여러 번 수행해주는 도구입니다. 추후에 자세히 다룰 예정입니다.

눈 여겨볼 점은 range() 자체로도 귀찮음을 줄일 수 있다는 것입니다.

[2, 4, 6, 8, 10, 12, ... , 100]을 만들어야 할 때 일일이 입력하거나 반복문을 쓰지 않고도 range(2, 102, 2)를 쓰는 것만으로 충분하기 때문입니다.

In [ ]:
# 그냥 range(10)은 리스트 자체는 아닙니다.
# 이런 것은 list()로 감싸서 리스트로 만들어줄 수 있습니다.

print(range(10))

print(list(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for k in range(1, 11, 2):
    print(k)

1
3
5
7
9

In [ ]:
for j in range(10, 0, -1):
    print(j)

10
9
8
7
6
5
4
3
2
1

# range 사용 시 주의!!!

주의: range(1, 10)에는 1, 2, ... , 9까지만 포함되고 맨 끝 점인 10은 포함되지 않습니다.

# 간단히만 보는 이차원 리스트

리스트의 원소로 리스트가 들어간 형태를 의미합니다.

행렬처럼 다룰 수 있습니다. (엑셀 데이터, 이미지 처리 시에 활용)

가령 이런 형태입니다.

`a = [[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0, 1]]`

이렇게 쓰기도 하지만, 가로와 세로를 알아보기 쉽게 이렇게 쓰기도 합니다.

```
a = [[1, 0, 0, 0],
     [0, 1, 0, 0],
     [0, 0, 0, 1]]
```

참고: 꼭 직사각형 모양이 아니라 요란한 모양으로 만들어도 됩니다.

```
a = [[1],
     [0, 1],
     [0, 0, 1],
     [0, 0, 0, 1],
     [0, 0, 0, 0, 1]]
```

# 이차원 리스트도 일차원 리스트와 똑같은 연산을 쓸 수 있습니다.

In [ ]:
a = [[1, 0, 0, 0],
     [0, 1, 0, 0],
     [0, 0, 0, 1]]

a[2][2] += 3
a.append([1, 2, 3, 4])

print(a)

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 3, 1], [1, 2, 3, 4]]

# 리스트 컴프리헨션

마지막이에요!

리스트의 element에 여러 개를 규칙적으로 넣어서 생성하고 싶은데, range()만 가지고는 구현할 수 없을 때 쓸 수 있습니다.

리스트 안에 반복문이 들어가있는데요, 잘 쓰면 실무에서도 좋고 코딩 테스트에서도 아주 좋습니다.

가령 이런 식입니다.

In [ ]:
str_list = [i**2 for i in range(11)] # 제곱수들의 리스트는 range()만으로 만들기 힘들겠죠?
str_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 중첩 반복문을 배우시면 이해가 더 빠르시겠지만, 이런 것도 만들 수 있다는 걸 참고해봐요!

nine_by_nine = [[x*y for x in range(1, 10)] for y in range(2, 10)]
nine_by_nine

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

# 다음 시간에 잠시 발표할 사람?

두 변수를 바꾸는 프로그램을 작성하고 설명해보세요.

단, 아래 방식은 반칙!

```
a, b = b, a
```