<a href="https://colab.research.google.com/github/cacbondioxit/2024-K-NET-DEVELOP/blob/main/4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이번 시간에는 지난 시간의 리스트에서 크게 벗어나지 않은 내용들을 소개하겠습니다.

- 문자열
- 튜플
- 딕셔너리

세 개의 공통점은 바로 리스트와 유사하게 인덱싱이 가능하다는 것입니다.

# 문자열

문자열(string)은 문자로 이루어진 수열입니다.

숫자만 다루면 별로 재미가 없겠죠? 인간이랑 챗지피티도 결국 서로 문자열로 다 이야기를 주고 받잖아요.

# 문자열에서 중요한 사실

문자열은 사실 문자의 나열이고, 이는 곧 문자로 이루어진 수열이기 때문에 리스트와 크게 다르지 않습니다!

In [ ]:
# 문자열 사용 예시

print("Python's favourite food is perl.")

Python's favourite food is perl.

# 문자열은 따옴표로 감싸서 나타냅니다.

총 4가지 방법이 있습니다.

1. 작은 따옴표 한 개씩으로만 양쪽을 감싸기
2. 큰 따옴표 한 개씩으로만 양쪽을 감싸기
3. 작은 따옴표 세 개로 양쪽을 감싸기
4. 큰 따옴표 세 개로 양쪽을 감싸기

여기서 3번과 4번은 여러 줄을 나타낼 때 유용합니다.

위의 것들을 자유롭게 막 섞어도 됩니다. 대신에, 따옴표 안에 같은 따옴표가 들어가면 안 된다는 것에 주의하면 됩니다.

```
print("여러분, 'DEVELOP' 4주차입니다.")
print('여러분, "DEVELOP" 4주차입니다.')
print('''
    여러분, 우리가 드디어...
    "DEVELOP" 4주차예요!
    뿌듯하죠?
'''
)

```

참고: 이스케이프 코드

꼭 따옴표 3개짜리가 아니더라도 \n 을 이용하면 줄바꿈(엔터)를 나타낼 수 있습니다.

C언어 수업을 들으신 분들은 많이 보던 것들이죠?

ex)
```
print("여러분, 안녕하세요? \n이제부터 4주차 내용을 시작하겠습니다.")
```

In [ ]:
print("여러분, 안녕하세요? \n이제부터 4주차 내용을 시작하겠습니다.")

여러분, 안녕하세요?
이제부터 4주차 내용을 시작하겠습니다.

참고: 따옴표가 붙은 문자열 '123'과 정수 123은 다른 데이터입니다.

In [1]:
print(123 == '123')

False

# 문자열의 연산 및 조작

리스트와 상당히 유사함을 확인할 수 있습니다.

- 문자열을 더하고 곱하기
- 문자열의 길이 구하기: len()
- 문자열 인덱싱
- 문자열 인덱스 슬라이싱 (지난 주차에 시간 상 대충 넘어갔던 것)
- 문자열 포매팅
- 이 외에 자주 쓰는 문자열 관련 함수: index, join, split, replace, upper/lower

In [ ]:
a = 'nice'
b = 'to'
c = 'meet'
d = 'you'
e = a+b+c+d
print(e) # 띄어쓰기 주의!
print(a, b, c, d) # 띄어쓰기를 하고 싶다면?

nicetomeetyou
nice to meet you

In [ ]:
a * 5

'nicenicenicenicenice'

In [ ]:
len(e)

13

In [ ]:
e[0], e[1], e[2], e[3]

('n', 'i', 'c', 'e')

In [ ]:
e[-1], e[-2], e[-3]

('u', 'o', 'y')

참고: 문자열은 인덱스 접근을 통한 수정이 불가능합니다. (곧 나올 튜플도 마찬가지)

정수, 실수, 문자열, 튜플 등은 읽기만 가능하고 쓰기는 불가능한 "immutable(변경 불가능한) 객체"입니다.

반면 리스트, 딕셔너리는 읽기와 쓰기가 가능한 "mutable 객체"입니다.

```
x = "Jython"
x[0] = "P" # 에러!

print(x)
```

In [ ]:
x = "Jython"
x[0] = "P" # 에러!

print(x)

TypeError: 'str' object does not support item assignment

# 인덱스 슬라이싱

연속된 여러 문자를 한 번에 잘라오기 위한 방법입니다. 리스트, 문자열, 튜플 등에서 사용 가능합니다.

str[시작 인덱스 : 끝 인덱스 + 1 : 스텝]과 같은 식으로 사용 가능합니다.

음수 인덱스와 음수 스텝도 넣을 수 있습니다.

처음 번호나 끝 번호가 생략된 경우는 각각 맨 처음과 맨 끝을 나타냅니다.

스텝이 생략된 경우는 1을 의미합니다.

```
original = "안녕하세요 여러분, 김현규입니다."

indexing = original[0] + original[1] + original[2] + original[3] + original[4] + original[5]

slicing = original[:6] # 0<=x<6번째 인덱스의 문자를 잘라오기(슬라이싱)

```

In [ ]:
original = "안녕하세요 여러분, 김현규입니다."

indexing = original[0] + original[1] + original[2] + original[3] + original[4] + original[5]
slicing = original[:6]

print(indexing)
print(slicing)

안녕하세요
안녕하세요

In [ ]:
# 인덱스 슬라이싱이 유용한 경우 - 필요없는 부분 삭제 (또는 필요한 부분만 챙기기)

with_star = "★택배가 도착했습니다!★"

without_star = with_star[1:-1]

print(without_star)

택배가 도착했습니다!

In [ ]:
# 인덱스 슬라이싱이 유용한 경우 - 인덱스 접근을 통한 수정

with_typo = "Github"

without_typo = with_typo[:3] + "H" + with_typo[4:]

print(without_typo)

GitHub

In [ ]:
# 문자열이 회문인지 확인

example = "우영우"
reversed = example[::-1] # 거꾸로 한 것
print(example == reversed)

True

# 문자열 formatting

문자열 안에 어떤 값을 삽입하는 방법입니다.

반복문이나 함수 등에서 문자 안에 변수 값을 섞어 출력해야 할 때 요긴합니다.

문자열을 포매팅하는 방법은 여러 가지가 있지만 여기서는 f-string에 대해서만 설명하겠습니다. (파이썬 3.6 버전 이상에서 제공)

In [ ]:
# 문자열 formatting 없이 덧셈 연산으로 하려면...

day = 11
month = 5
year = 2024

print("우리 MT 날짜는 " + str(year) + "년 " + str(month) + "월 " + str(day) + "일입니다.")
print("여러분, " + str(day+1) + "일 아침까지 놀 준비 됐죠?")

우리 MT 날짜는 2024년 5월 11일입니다.
여러분, 12일 아침까지 놀 준비 됐죠?

In [ ]:
# f-string을 이용하면 깔끔합니다!

print(f"우리 MT 날짜는 {year}년 {month}월 {day}일입니다.")
print(f"여러분, {day+1}일 아침까지 놀 준비 됐죠?")

우리 MT 날짜는 2024년 5월 11일입니다.
여러분, 12일 아침까지 놀 준비 됐죠?

# 이외 문자열 관련 함수들

문자열과 관련된 함수들이 아주 많지만, 자주 쓰는 것만 소개하겠습니다.

주의: 리스트에서처럼 문자열의 원본을 바꿔주는 것이 아니라, 변경된 새로운 값들을 생성합니다. ⇒ 코딩 테스트에서 사용 시 주의할 필요 있어보입니다.

- index : 찾는 글자가 몇 번째 인덱스에 있는지 반환. 없다면 ValueError
- join : 문자열로 이뤄진 리스트 사이사이에 글자를 삽입함
- split : 해당 글자를 기준으로 분할하여 리스트로 만들어줌
- replace : 문자열 내 해당되는 문자열을 다른 문자열로 교체
- upper/lower : 대문자로 바꿈 / 소문자로 바꿈

In [ ]:
example = "Happy Birthday To You"

example.index("B")

6

In [ ]:
query = ["SELECT", "*", "FROM", "my_table", "WHERE", "age > 18", "ORDER BY", "name"]

" ".join(query)

'SELECT * FROM my_table WHERE age > 18 ORDER BY name'

In [ ]:
example = ["승민", "민석", "유찬", "호정"]

" 옆에 ".join(example)

'승민 옆에 민석 옆에 유찬 옆에 호정'

In [ ]:
example = '승민 옆에 민석 옆에 유찬 옆에 호정'

example.split(" 옆에 ")

['승민', '민석', '유찬', '호정']

In [ ]:
example = "I'm going to buy a computer."

example.split() # 괄호 안을 비우면 공백(스페이스, \t 등)을 기준으로 split 시행

["I'm", 'going', 'to', 'buy', 'a', 'computer.']

In [ ]:
example = "Life is too short, You need Python"

print(example.upper())
print(example.lower())

LIFE IS TOO SHORT, YOU NEED PYTHON
life is too short, you need python

In [ ]:
lyrics = '''
아! 테스형 아프다 세상이 눈물 많은 나에게
아! 테스형 소크라테스형 세월은 또 왜 저래
먼저 가본 저세상 어떤가요 테스형
가보니까 천국은 있던가요 테스형

아! 테스형 아! 테스형 아! 테스형 아! 테스형
아! 테스형 아! 테스형 아! 테스형 아! 테스형
'''

modified = lyrics.replace("소크라테스형", "우리 아버지")
modified = modified.replace("테스형", "아버지")

print(modified)

아! 아버지 아프다 세상이 눈물 많은 나에게
아! 아버지 우리 아버지 세월은 또 왜 저래
먼저 가본 저세상 어떤가요 아버지
가보니까 천국은 있던가요 아버지

아! 아버지 아! 아버지 아! 아버지 아! 아버지
아! 아버지 아! 아버지 아! 아버지 아! 아버지

In [ ]:
example = "잘 모르겠다! 포기하자!"

print("포기" in example) # in 연산자를 이용

True

# 간단히만 살펴보는 튜플

tuple은 기본적으로 순서쌍의 의미를 갖습니다.

파이썬의 튜플은 리스트와 거의 비슷하지만, 각 요소값(element)에 대한 수정이 불가능합니다. (문자열과 같은 성질)

리스트를 대괄호로 감싸서 나타내는 반면, 튜플은 소괄호로 감싸서 나타냅니다.

바뀌지 않기를 바라는 값을 저장하고 싶다면 리스트보다 튜플 사용이 유리합니다. (리스트와 튜플을 구분하여 사용하는 것이 유리함)

튜플에서도 인덱싱, 인덱스 슬라이싱, 덧셈, 곱셈, 길이 등을 리스트나 문자열에서와 똑같이 얻을 수 있습니다.

In [ ]:
example_tuple = (1280, 720)

print(len(example_tuple))

print(example_tuple[0], example_tuple[1])

2
1280 720

In [ ]:
example_tuple[0] = 1000

TypeError: 'tuple' object does not support item assignment

참고: 튜플이 저장된 변수에 다른 튜플을 할당하는 것은 가능합니다.

In [ ]:
example_tuple = (1280, 720)

example_tuple = (480, 480)

print(example_tuple)

(480, 480)

# 딕셔너리

딕셔너리는 기본적으로 Key-Value 쌍을 저장합니다.

리스트의 각 원소 값에다가 특정한 의미를 부여하고 싶을 때가 있습니다.

예시: 서버에 접속한 클라이언트에게 에러 메시지를 어떻게 주는 것이 더 좋을까요?

1번:

```[404, 'Not Found', 'Cannot GET /profiles']```

2번:
```
{'statusCode': 404,
'error': 'Not Found',
'message': 'Cannot GET /profiles'}
```

처음 접할 때는 왜 쓰는지 공감하기 어려울 수 있지만 나중에 이것이 요긴하다는 것이 입증될 것입니다.

참고: 딕셔너리는 json(JavaScript Object Notation)과 거의 같습니다. javascript에서는 객체입니다.

참고: 곧 보게 되겠지만, 리스트를 쓰는 것은 사실 위의 예시에서
```
{0: 404,
1: 'Not Found',
2: 'Cannot GET /profiles'}
```
를 쓰는 것과 비슷하게 작동합니다.

# Key-Value?

딕셔너리의 기본 모습은 이렇습니다.

```
{key1: value1, key2: value2, key3: value3, ... }
```

참고: 위에서 콤마(반점)이 반드시 있어야 합니다. 그것이 없다면 에러가 뜨는데, 처음 배우시는 분들께서는 그러한 오타에서 에러가 난 것을 빨리 찾지 못해 두 세 시간을 날리곤 합니다. ㅋㅋ

참고: 리스트는 대괄호, 튜플은 소괄호, 딕셔너리는 중괄호를 이용합니다.

```
new_dict = {} # 빈 딕셔너리 선언
```

# 딕셔너리의 내부 구조

관심있으신 분들은 "해시 테이블"로 검색 바랍니다. 파이썬의 딕셔너리는 해시 테이블을 활용해 만들어졌습니다.

코딩 테스트에서 해시 테이블을 이용하실 분들은 파이썬의 딕셔너리를 사용하실 수 있습니다.

# 딕셔너리의 조작

- 키를 통해 값 찾기: a[key] (리스트, 문자열, 튜플의 인덱싱과 비슷)
- 딕셔너리에 쌍 추가 및 수정: a[new key] = new value (리스트에서는 a[new index]로 접근하여 추가하면 에러 발생)
- 딕셔너리에서 쌍 제거: del a[key]

In [ ]:
response = {
    'statusCode': 404,
    'error': 'Not Found',
    'message': 'Cannot GET /profiles'
}

response['statusCode']

404

In [ ]:
students_result = {"철수": 50, "훈이": 55, "맹구": 60, "유리": 65, "짱구": 70}

students_result["흰둥"] = 75  # 새로운 값 추가
del students_result["훈이"]

print(students_result)

{'철수': 50, '맹구': 60, '유리': 65, '짱구': 70, '흰둥': 75}

In [ ]:
# 딕셔너리는 Key의 중복을 허용하지 않습니다.

# 화석 김현규의 꼰대질 시간: 가급적 이렇게 코드 작성하지 마세요!
# 코드는 컴퓨터가 읽기 전에 인간이 먼저 읽습니다.

example = {1: 'a', 1: 'b', 1: 'c'}
print(example)

{1: 'c'}

참고: 파이썬 3.6부터는 Key가 입력된 순서대로 딕셔너리를 출력합니다.

참고: zip()을 이용하면 리스트 두 개를 묶어 딕셔너리로 만들 수 있습니다.

In [ ]:
names = ["철수", "훈이", "맹구", "유리", "짱구"]
results = [50, 55, 60, 65, 70]

students_result = dict(zip(names, results))
students_result

{'철수': 50, '훈이': 55, '맹구': 60, '유리': 65, '짱구': 70}

In [ ]:
# zip의 정체는 튜플을 원소로 하는 리스트와 비슷함
list(zip(names, results))

[('철수', 50), ('훈이', 55), ('맹구', 60), ('유리', 65), ('짱구', 70)]

# 딕셔너리는 함수의 의미를 대체할 수 있습니다.

Key들의 모임: 정의역 (중복 허락 X)

Value들의 모임: 치역

In [ ]:
# 딕셔너리는 함수의 의미를 실제로 깔끔하게 대체할 수 있습니다.

f = {1: 'e', 2: 'd', 3: 'c', 4: 'b', 5: 'a'}

print(f[1], f[2], f[3], f[4], f[5])

e d c b a

In [ ]:
def f(x):
    if x == 1: return 'e'
    elif x == 2: return 'd'
    elif x == 3: return 'c'
    elif x == 4: return 'b'
    elif x == 5: return 'a'

print(f(1), f(2), f(3), f(4), f(5))

e d c b a

# 딕셔너리 관련 함수들

아래 함수들은 특히 반복문 등에서 유용합니다.

- keys(): 딕셔너리의 모든 Key들을 담음
- values(): 딕셔너리의 모든 Value들을 담음
- items(): 딕셔너리의 Key-Value 쌍을 튜플로 담음

참고: 위의 함수들의 반환 자체는 list가 아니라서, list로 쓰고 싶다면 list()로 감싸주어야 합니다. 단 반복문을 통한 순회에서는 그렇게 할 필요가 없습니다.

참고: update(): 딕셔너리를 병합. 리스트에서의 extend 느낌. 저도 자주 써보진 못해서 참고로 알아두세요.

In [ ]:
price_dict = {'apple': 10, 'banana': 15, 'cherry': 20}

price_dict.update({'grape': 12, 'kiwi': 15})

print(price_dict)

{'apple': 10, 'banana': 15, 'cherry': 20, 'grape': 12, 'kiwi': 15}



# 딕셔너리도 컴프리헨션을 쓸 수 있습니다!

위의 함수들을 야무지게 써먹을 수 있습니다.

In [6]:
names = ["철수", "훈이", "맹구", "유리", "짱구"]
scores = [50, 55, 60, 65, 70]
students_result = {name: score for name, score in zip(names, scores)}
print(students_result)

# 훈이 모자이크가 하고 싶음 (강제 전학?) - if문 적용으로 구현 가능
students_result = {k: v for k, v in students_result.items() if k != "훈이"}
print(students_result)

{'철수': 50, '훈이': 55, '맹구': 60, '유리': 65, '짱구': 70}
{'철수': 50, '맹구': 60, '유리': 65, '짱구': 70}